{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <style>
   .mdx-container {
     padding-top: .0rem;
     /* background: linear-gradient(to bottom, var(--md-primary-fg-color), hsla(160deg,47%,55%,0) 40%) */
     background: black;
   }

   .mdx-hero {
     display: flex;
     align-items: center;
     margin: 32px 2.8rem;
     color: var(--md-primary-bg-color);
     justify-content: center;
   }

   .mdx-hero__content {
     max-width: 22rem;
     margin-top: 3.5rem;
     margin-bottom: 3.5rem;
     margin-left: 1.0rem;
     margin-right: 4.0rem;
     align-items: center;
   }

   .mdx-hero h1 {
     margin-bottom: 1rem;
     color: currentColor;
     font-weight: 700;
   }

   .mdx-hero__image{
     width:17rem;
     order:1;
     padding-right: 2.5rem;
    }
  </style>

  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__content">
        <h1>Technical Art Documentation</h1>
          <p>{{ page.content }}</p>
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">
            Long Read Docs
          </a>
          <a href="{{ 'houdini' | url }}" title="Notes" class="md-button">
            Notes
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block site_nav %}{% endblock %}
